.radio-item{
    display: flex;
   
   
}
.button-container {
    position: relative;
  }
  
  .hidden-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Hiển thị nội dung khi nút mở */
  .open + .hidden-content {
    display: block;
  }