.ant-modal-content{
   margin-left: -200px;
    width: 900px;
}
.ant-form-item-label{
    margin-top: 20px;
}
.ant-form-item-margin-offset{
    margin-bottom: 0 !important;
}
.number-tour{
    margin-top: 0 !important;
}

  