/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*detail*/
.img-container {
    position: relative;
    display: inline-block;
  }
  .icon-overlay {
    position: absolute;
    top: 15%;
    left:10%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 30px; 
  }  

  /*book*/
  
  .hh{
    border-radius: 10px 0 0 10px; /* Tạo hình tròn cho ảnh */
  }
  .rounded-image {
    width: 100%; /* Điều chỉnh kích thước ảnh theo ý muốn */
    height: 100%; /* Điều chỉnh kích thước ảnh theo ý muốn */
    border-radius: 10px 0 0 10px; /* Tạo hình tròn cho ảnh */
  }

  .hideText {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
  
  .showText {
    max-height: 100px; /* or any value you want for max-height */
    overflow: hidden;
    transition: max-height 0.3s ease-in;
  }
  
  
  
  