.product-list {
  max-width: 100%;
  margin: 0 auto;
}
.product-listb {
  max-width: 100%;
}
.content{
  margin: 40px;
  
border: burlywood;
}
.info-row {
  display: flex;
  align-items: center;
}
.text{
  font-size: 15px;
  color: #2d4271;
  font-family: sans-serif;
  font-style: normal;
}
.price {
  text-decoration: line-through;
}
.date {
  font-size: 13px;
  color: #2d4271;
  font:  sans-serif;
}
.info-row p {
  margin-right: 10px;
}
.home-page__title {
  font-weight: 500;
  font-size: 30px;
  color: #2d4271;
}
.product-list .slick-slide {
  display: flex;
  justify-content: center;
}
.box-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  
}.form-input {
  width: 300px;
  height: 40px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

br {
  margin-bottom: 1rem;
}
.product-list .slick-dots {
  bottom: 10px;
}

.product-list .slick-dots li button:before {
  font-size: 12px;
}
.custum{
  border: 3.5px solid black;
}

.product-lista img {
  width: 100%;
  height: 310px;
  margin: auto ;
  object-fit: cover;
}
.hoem{
  color: #555;
  border: #2d4271;
}
.product-list1 img {
  width: 100%;
  height: 210px;
  object-fit: cover;
}
.product-list img {

  height: 40%;
  object-fit: cover;
}.text-lg {
  font-size: 1.125rem; /* Tăng kích thước chữ lên 1.125rem */
  color: #333; /* Đổi màu chữ thành màu đen */
}
.font-semibold {
  
  font-weight: 600; /* Đặt độ đậm cho phông chữ */
  color: #555; /* Đổi màu chữ thành màu xám đậm */
}.pl-4 li {
  
  margin-bottom: 0.5rem; /* Tăng khoảng cách dưới của mỗi mục danh sách */
}
  p {
  margin-bottom: 0.5rem; /* Tăng khoảng cách dưới của mỗi đoạn văn */
}.text-sm {
  text-align: center; /* Căn giữa nội dung */
  color: #888; /* Đổi màu chữ thành màu xám nhẹt */
}
ul li{
  
  display: block;
}