 
body {
  font-family: Arial, sans-serif;
  color: #333;
}

h1 {
  font-size: 24px;
  
  color: #333;
 
  text-align: center;
 
}
.bg-white {
  background-color: #ffffff;
}

.box-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rounded-lg {
  border-radius: 0.5rem;
}

.p-9 {
  padding: 2.25rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.tour-form {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}

.mr-4 {
  margin-right: 1rem;
}

.text-gray-600 {
  color: #6b7280;
}

.absolute {
  position: absolute;
}


.left-3 {
  left: 0.75rem;
}

.transform {
  transform: translateY(-50%);
}

.text-gray-400 {
  color: #9ca3af;
}

.custum {
  border: 1px solid #f59e0b;
}

.border-yellow-600 {
  border-color: #f59e0b;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pl-8 {
  padding-left: 2rem;
}

.focus\:outline-none:focus {
  outline: none;
}

.transition-colors {
  transition-property: color;
  transition-duration: 0.3s;
}

.duration-300 {
  transition-duration: 0.3s;
}

#arrivalDate {
  width: 100%;
}

#destination,
#departure {
  width: 100%;
}

.bg-yellow-600 {
  background-color: #f59e0b;
}

.text-white {
  color: #e9ddddc1;
}
.input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: purple;
  /* Các thuộc tính CSS khác cho phần tử */
}
.icontt {
  
  color: #e06666; font-weight: bold;
  font-size: 40px;
}
.title {
  color: #527ad2;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
  font-family: 'Arial', sans-serif;
}
.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}
 
h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Định nghĩa kiểu cho nút */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #555;
}

/* Định nghĩa kiểu cho danh sách */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

/* Định nghĩa kiểu cho hình ảnh */
img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

/* Định nghĩa kiểu cho bảng */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
}

/* Định nghĩa kiểu cho form */
form {
  width: 300px;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

textarea {
  height: 100px;
}

/* Sửa màu cho lịch */
.calendar {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

/* Sửa màu cho các thành phố */
.city {
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
}

.product-list {
  max-width: 100%;
  margin: 0 auto;
}

.product-listb {
  max-width: 100%;
}

.content {
  margin: 40px;

  border: rgb(246, 208, 158);
}

.price-c {
  font-weight: 700;
  color: #2d4271;
}

.price-t {
  font-size: 20px;
  font-weight: 700;
  color: #fd5056;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-wrapper button {
  margin-top: 10px;
}

.info-row {
  display: flex;
  align-items: center;
}

.text {
  font-size: 15px;
  color: #2d4271;
  font-family: sans-serif;
  font-style: normal;
}

.price {
  text-decoration: line-through;
}

.date {
  font-size: 13px;
  color: #2d4271;
  font: sans-serif;
}

.info-row p {
  margin-right: 10px;
}

.home-page__title {
  font-weight: 500;
  font-size: 30px;
  color: #2d4271;
}

.product-list .slick-slide {
  display: flex;
  justify-content: center;
}

.box-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);

}

.form-input {
  width: 300px;
  height: 40px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

br {
  margin-bottom: 1rem;
}

.product-list .slick-dots {
  bottom: 10px;
}

.product-list .slick-dots li button:before {
  font-size: 12px;
}

.custum {
  border: 3.5px solid black;
}

.product-lista img {
  width: 100%;
  height: 310px;
  margin: auto;
  object-fit: cover;
}

.hoem {
  color: #555;
  border: #2d4271;
}

.product-list1 img {
  width: 100%;
  height: 210px;
  object-fit: cover;
}

.product-list img {

  height: 40%;
  object-fit: cover;
}

.text-lg {
  font-size: 1.125rem;
  /* Tăng kích thước chữ lên 1.125rem */
  color: #333;
  /* Đổi màu chữ thành màu đen */
}

.font-semibold {

  font-weight: 600;
  /* Đặt độ đậm cho phông chữ */
  color: #555;
  /* Đổi màu chữ thành màu xám đậm */
}

.pl-4 li {

  margin-bottom: 0.5rem;
  /* Tăng khoảng cách dưới của mỗi mục danh sách */
}

p {
  margin-bottom: 0.5rem;
  /* Tăng khoảng cách dưới của mỗi đoạn văn */
}

.text-sm {
  text-align: center;
  /* Căn giữa nội dung */
  color: #888;
  /* Đổi màu chữ thành màu xám nhẹt */
}

ul li {

  display: block;
}