.form-edit input {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid black;
    outline: none;
    padding-left: 10px;
    border-radius: 4px;
    margin-top: 8px;
}

.form-edit input:focus {
    border: 1px solid blue;


}

.no-spinners::-webkit-inner-spin-button,
.no-spinners::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-edit-date input {
    max-width: 100%;
    width: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid black;
    outline: none;
    padding-left: 10px;
    border-radius: 4px;
    margin-top: 8px;
}

.close-img {
    width: 20px;
    height: 20px;
}

.close-img img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.chua_xac_nhan{
    color: red;
}
.xac_nhan{
    color: blue;
}