.banner {
  text-align: center;
  margin-top: 20px;
}

.text-2xl {
  color: blue;
}

.form-container {
  width: 80%;
  margin-left: 135px;
}

.form-container label {
  font-weight: bold;
  margin-bottom: 8px;
}

.form-container input {
  border: 1px solid #ccc;
  padding: 6px 8px;
  border-radius: 4px;
  width: 100%;
}

.form-container .error {
  color: red;
}

.preview-image {
  margin-left: 64px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  border-radius: 50%;
}

.preview-image img {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  border: 4px solid white;
}

.submit-button {
  background-color: red;
  color: white;
  margin-bottom: 10px;
  padding: 1px 3px;
  border-radius: 4px;
  width: 300px;
}

.footer {
  margin-top: 8px;
  text-align: center;
  color: #888;
}